@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
* {
  transition: ease-in-out .2s; }

.uppercase {
  text-transform: uppercase; }

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #28303f;
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100vh; }
  .sidebar .main-text {
    width: 100%; }
  .sidebar h1 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 56px;
    border-bottom: 5px solid #eb2b44; }
  .sidebar a {
    align-self: center; }
  .sidebar .logout {
    width: 150px;
    align-self: center;
    margin-bottom: 25px;
    background-color: #eb2b44;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer; }
  .sidebar .create-lobby {
    background-color: #7289da; }
  .sidebar .profile-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 25px; }
    .sidebar .profile-container img {
      width: 50px;
      margin-right: 25px;
      margin-left: 25px; }

.login {
  margin-left: 25%; }

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .landing-page h2 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 25px; }
  .landing-page h3 {
    font-size: 24px;
    margin: 0;
    font-weight: lighter;
    opacity: .5; }

.select-platform {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .select-platform h2 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 25px; }
  .select-platform .platforms-container {
    display: flex;
    width: 80%; }
    .select-platform .platforms-container .platform {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 4px solid rgba(255, 255, 255, 0.7);
      border-radius: 3px;
      height: 300px;
      width: 25%;
      margin: 25px 25px;
      cursor: pointer; }
      .select-platform .platforms-container .platform:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .select-platform .platforms-container .platform p {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: auto; }
      .select-platform .platforms-container .platform img {
        width: 75px;
        margin-top: 25px;
        margin-bottom: auto; }

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151b27; }
  body h1 {
    font-family: 'Montserrat', sans-serif; }
  body p, body a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px; }
  body a {
    font-weight: bold;
    letter-spacing: 1px; }
  body div {
    box-sizing: border-box !important; }
  body .hidden {
    display: none !important; }
  body #root {
    width: 100%;
    padding-left: 275px; }
  body .logout:hover, body button:hover {
    transform: translate(-2px, -2px); }
  body button {
    width: 150px;
    margin-top: 25px;
    background-color: #eb2b44;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer; }
