@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
* {
  transition: ease-in-out .2s; }

.uppercase {
  text-transform: uppercase; }

@font-face {
  font-family: 'Gotham Black';
  src: url("./fonts/Gotham Font Family/Gotham-Black.ttf"); }

@font-face {
  font-family: 'Gotham Book';
  src: url("./fonts/Gotham Font Family/Gotham-Book.ttf"); }

body {
  font-family: 'Gotham Book', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  body h1 {
    font-family: 'Gotham Black', sans-serif; }
  body p, body a {
    font-family: 'Gotham Book', sans-serif;
    color: white;
    text-decoration: none; }
  body a {
    font-weight: bold;
    letter-spacing: 1px;
    color: black; }
  body div {
    box-sizing: border-box !important; }
  body .hidden {
    display: none !important; }
  body #root {
    width: 100%; }
