@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Roboto+Condensed");
* {
  transition: ease-in-out .2s;
  overflow-x: hidden; }

.uppercase {
  text-transform: uppercase; }

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #28303f;
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100vh;
  z-index: 500; }
  .sidebar .main-text {
    width: 100%; }
  .sidebar h1 {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 56px;
    border-bottom: 5px solid #eb2b44; }
  .sidebar a {
    align-self: center; }
  .sidebar .logout {
    width: 150px;
    align-self: center;
    margin-bottom: 25px;
    background-color: #eb2b44;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer; }
  .sidebar .create-lobby {
    background-color: #7289da; }
  .sidebar .profile-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 25px; }
    .sidebar .profile-container img {
      width: 50px;
      margin-right: 25px;
      margin-left: 25px; }

.lobby {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 25px; }

.profile-icon {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-left: 20px; }

.profile-icon {
  height: 50;
  width: 50;
  marginLeft: 20;
  marginRight: 20; }

.login {
  margin-left: 25%; }

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("images/base-image.png"); }
  .landing-page .button-div {
    display: flex;
    align-items: center; }
  .landing-page .find-button {
    padding: 25px; }
  .landing-page p {
    padding: 25px;
    font-size: 36px; }
  .landing-page video {
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0; }
  .landing-page .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 10; }
  .landing-page .copy {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .landing-page h2 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 25px; }
  .landing-page h3 {
    font-size: 24px;
    margin: 0;
    font-weight: lighter;
    opacity: .5; }

.select-platform {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .select-platform h2 {
    font-size: 56px;
    margin: 0;
    margin-bottom: 25px;
    overflow: hidden; }
  .select-platform .platforms-container {
    display: flex;
    width: 80%; }
  .select-platform .link-div-games {
    display: flex;
    width: 100%;
    flex-wrap: wrap; }
    .select-platform .link-div-games .platform {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #28303f;
      border-bottom: 8px solid #1b212c;
      border-radius: 3px;
      height: 300px;
      width: 25%;
      margin: 25px 25px;
      cursor: pointer; }
      .select-platform .link-div-games .platform:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .select-platform .link-div-games .platform p {
        font-weight: bold;
        font-size: 24px;
        height: 50px;
        border-bottom: 4px solid #eb2b44;
        margin-bottom: auto;
        background-color: #1b212c;
        width: 100%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden; }
      .select-platform .link-div-games .platform img {
        width: 75px;
        margin-top: 25px;
        margin-bottom: auto; }
  .select-platform .link-div {
    display: flex;
    width: 100%; }
    .select-platform .link-div .platform {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #28303f;
      border-bottom: 8px solid #1b212c;
      border-radius: 3px;
      height: 300px;
      width: 25%;
      margin: 25px 25px;
      cursor: pointer; }
      .select-platform .link-div .platform:hover {
        background-color: rgba(255, 255, 255, 0.2); }
      .select-platform .link-div .platform p {
        font-weight: bold;
        font-size: 24px;
        height: 50px;
        border-bottom: 4px solid #eb2b44;
        margin-bottom: auto;
        background-color: #1b212c;
        width: 100%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden; }
      .select-platform .link-div .platform img {
        width: 75px;
        margin-top: 25px;
        margin-bottom: auto; }

.modal-div .dropdown-section option {
  background-color: red !important; }

.lobby-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  flex-direction: column; }
  .lobby-container .title {
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #eb2b44;
    position: absolute;
    height: 93px;
    background-color: #1b212c;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    top: 0;
    flex: 1;
    margin: 0 !important; }
  .lobby-container .room {
    display: flex;
    background-color: #28303f;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 25px;
    border-bottom: 5px solid #1b212c; }
    .lobby-container .room h3 {
      margin-bottom: auto;
      justify-content: center;
      display: flex;
      align-items: center;
      background-color: #1b212c;
      margin-top: 0;
      min-height: 75px;
      border-bottom: 5px solid #eb2b44;
      width: 300px; }
    .lobby-container .room button {
      margin-top: 0;
      margin-right: 25px; }

.chatRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .chatRoom .party-container {
    position: absolute;
    left: 275px;
    bottom: 0;
    background-color: #1b212c;
    height: 50vh;
    width: 250px;
    padding-left: 25px; }
    .chatRoom .party-container h3 {
      border-bottom: 3px solid white;
      color: #eb2b44;
      padding-bottom: 15px; }
    .chatRoom .party-container .accepted-user h6 {
      margin: 0;
      font-size: 26px; }
  .chatRoom .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 43px;
    left: 300px;
    height: 250px;
    background-color: #28303f;
    width: 250px; }
    .chatRoom .user-info h3 {
      width: 100%;
      min-height: 50px;
      border-bottom: 5px solid #eb2b44;
      margin-top: 0;
      margin-bottom: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1b212c; }
    .chatRoom .user-info .accept-btn {
      background-color: #7289da; }
    .chatRoom .user-info .decline-btn {
      margin-bottom: 50px; }

.message-container {
  position: absolute;
  right: 0;
  width: 500px;
  background-color: #1b212c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .message-container ul {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 450px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 50px; }
  .message-container form {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 50px; }
    .message-container form input {
      outline: none;
      width: 400px;
      height: 70px;
      border: 2px solid #eb2b44;
      background-color: rgba(0, 0, 0, 0.4);
      color: white;
      font-weight: bold;
      font-size: 22px; }

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151b27; }
  body h1 {
    font-family: 'Montserrat', sans-serif; }
  body p, body a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px; }
  body a {
    font-weight: bold;
    letter-spacing: 1px; }
  body div {
    box-sizing: border-box !important; }
  body .hidden {
    display: none !important; }
  body #root {
    width: 100%;
    padding-left: 275px; }
  body button {
    width: 150px;
    background-color: #eb2b44;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none; }
