.user-selections {
    margin: 10px;
}

.text-section {
    padding-top: 25px;
}

.short-description {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.create-lobby-button {
    width: 150px;
    align-self: center;
    border: none;
    padding: 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #eb2b44;
}


.create-lobby-button:hover {
    cursor: pointer;
}

textarea {
    margin-top: 5px;
    resize: none;
}

.create-lobby-header {
    display: flex;
    justify-content: space-between;
}

.close {
    color:white;
    font-size: 36px;
    font-weight: bold;
    margin-top: -20px;
    float: right;
    
}

.close:hover,
.close:focus {
    color: #eb2b44;
    text-decoration: none;
    cursor: pointer;
}

.modal-div {
    display: flex;
    justify-content: center;
}

 .modal {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #28303f;
} 

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal:focus {
    outline: none;
}

