   .single-slider {
    display: flex;
    flex-direction: row;
}  

 .leftWord {
    padding-right: 10px;
    min-width: 75px;
     margin: 0;
     padding-bottom: 25px;
}

.rightWord {
    padding-left: 10px;
    min-width: 75px;
     margin: 0;
}  

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}